<%= simple_form_for @user, html: { id: "signup-form" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "姓" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "名" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "電郵" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
   <%= f.label "密碼" %><br />
   <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= f.label "確認密碼" %><br />
     <%= f.password_field :password_confirmation %>
  </div>
  <% if logged_in? %>
      <div class="actions">
        <%= f.submit "修改" %>
      </div>
  <% else %>
      <div class="actions">
        <%= f.submit "登記" %>
      </div>
  <% end %>

  <%= link_to 'Facebook登入', auth_at_provider_path(:provider => :facebook) %>
<% end %>
