<%= form_for @asset, html: { id: "signup-form" } do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "標題" %><br>
    <%= f.text_field :asset_title %>
  </div>
  <div class="field">
    <%= f.label "檔案" %><br>
    <%= f.file_field :asset %>
    <% if f.object.asset_stored? %>
        <%= image_tag f.object.asset.url %>
        <em>Current image</em>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "上傳" %>
  </div>
<% end %>
