<%= form_tag user_sessions_path, :id => 'login-form', :method => :post do %>
  <div class="field">
    <%= label_tag "電郵" %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag "密碼" %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag "記住我" %>
</div>
  <%= link_to 'Facebook登入', auth_at_provider_path(:provider => :facebook) %>
  <div class="actions">
    <%= submit_tag "登入" %>
  </div>
<% end %>
