<header class="header">
    <div class="top-bar">
        <div class="top-bar-left">
            <%= notice %>
        </div>
        <div class="top-bar-right">
            <ul>
              <% if current_user %>
                <li><%= link_to "上載", new_asset_path %></li>
                <li><%= link_to "帳號", edit_user_path(current_user.id) %></li>
                <li><%= link_to "登出", :logout, method: :post %></li>
              <% else %>
                <!--<li><a href="#" id="signup">登記</a></li>
                <li><a href="#" id="login">登入</a></li>-->
                <li><%= link_to "登記", :signup, html: { id: "signup" } %></li>
                <li><%= link_to "登入", :login, html: { id: "login" } %></li>
              <% end %>
            </ul>
        </div>
    </div>
    <div class="navigation">
        <div class="logo-area">
            <div class="logo">
                <a href="#"><%= image_tag "logo_150x150.png" %></a>
            </div>
            <div class="name text-shadow">
                <a href="#">17Share</a>
            </div>

        </div>
        <div class="mobile-nav menu">
             <div class="menu-btn" id="menu-btn">
                <i class="fa fa-bars fa-2x"></i>
             </div>
             <div class="responsive-menu">
                <ul class="text-shadow">
                   <a href="#"><li>婚紗攝影</li></a>
                   <a href="#"><li>小小Pin</li></a>
                </ul>
             </div>
        </div>
    </div>
</header>

<%= render 'user_sessions/form' %>
<%= render 'users/form' %>
