<header class="header">
    <div class="top-bar">
        <div class="top-bar-left">
            <%= notice %>
        </div>
        <div class="top-bar-right">
            <ul>
              <% if current_user %>
                <li>
                    <div class="upload-btn" id="upload-btn">上傳</div>
                </li>
                <div class="upload-form">
                    <%= form_for @asset do |f| %>
                      <% if @asset.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

                          <ul>
                          <% @asset.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="field">
                        <%= f.label "標題" %><br>
                        <%= f.text_field :asset_title %>
                      </div>
                      <div class="field">
                        <%= f.label "檔案" %><br>
                        <%= f.file_field :asset %>
                      </div>
                      <div class="actions">
                        <%= f.submit "上傳" %>
                      </div>
                      <div>
                        <%= button_tag "返回", type: 'button', class: 'close-upload-btn' %>
                      </div>
                    <% end %>
                </div> <!-- end of upload form -->
                <li>
                    <div class="signup-btn" id="signup-btn">帳號</div>
                </li>
                <div class="signup-form">
                    <%= simple_form_for @user, html: { id: "signup-form" } do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="field">
                        <%= f.label "姓" %><br>
                        <%= f.text_field :last_name %>
                      </div>
                      <div class="field">
                        <%= f.label "名" %><br>
                        <%= f.text_field :first_name %>
                      </div>
                      <div class="field">
                        <%= f.label "電郵" %><br>
                        <%= f.text_field :email %>
                      </div>
                      <div class="field">
                       <%= f.label "密碼" %><br />
                       <%= f.password_field :password %>
                      </div>
                      <div class="field">
                         <%= f.label "確認密碼" %><br />
                         <%= f.password_field :password_confirmation %>
                      </div>
                      <% if logged_in? %>
                          <div class="actions">
                            <%= f.submit "修改" %>
                          </div>
                          <div>
                            <%= button_tag "返回", type: 'button', class: 'close-signup-btn' %>
                          </div>
                      <% else %>
                          <div class="actions">
                            <%= f.submit "登記" %>
                          </div>
                      <% end %>
                    <% end %>

                </div> <!-- end of edit form -->
                <!--<li><%= link_to "帳號", edit_user_path(current_user.id) %></li>-->
                <li><%= link_to "登出", :logout, method: :post %></li>
              <% else %>
                <li>
                    <div class="signup-btn" id="signup-btn">登記</div>
                </li>
                <div class="signup-form">
                    <%= simple_form_for @user, html: { id: "signup-form" } do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="field">
                        <%= f.label "姓" %><br>
                        <%= f.text_field :last_name %>
                      </div>
                      <div class="field">
                        <%= f.label "名" %><br>
                        <%= f.text_field :first_name %>
                      </div>
                      <div class="field">
                        <%= f.label "電郵" %><br>
                        <%= f.text_field :email %>
                      </div>
                      <div class="field">
                       <%= f.label "密碼" %><br />
                       <%= f.password_field :password %>
                      </div>
                      <div class="field">
                         <%= f.label "確認密碼" %><br />
                         <%= f.password_field :password_confirmation %>
                      </div>
                      <% if logged_in? %>
                          <div class="actions">
                            <%= f.submit "修改" %>
                          </div>
                      <% else %>
                          <div class="actions">
                            <%= f.submit "登記" %>
                          </div>
                          <div>
                            <%= button_tag "返回", type: 'button', class: 'close-signup-btn' %>
                          </div>
                      <% end %>

                      <%= link_to 'Facebook登入', auth_at_provider_path(:provider => :facebook) %>
                    <% end %>
                </div><!-- end of signup form -->
                <li>
                    <div class="login-btn" id="login-btn">登入</div>
                </li>
                <div class="login-form">
                    <%= form_tag user_sessions_path, :id => 'login-form', :method => :post do %>
                      <div class="field">
                        <%= label_tag "電郵" %><br />
                        <%= text_field_tag :email %>
                      </div>
                      <div class="field">
                        <%= label_tag "密碼" %><br />
                        <%= password_field_tag :password %>
                      </div>
                      <div class="field">
                        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                        <%= label_tag "記住我" %>
                      </div>
                      <div class="actions">
                        <%= submit_tag "登入" %>
                      </div>
                      <div>
                        <%= button_tag "返回", type: 'button', class: 'close-login-btn' %>
                      </div>
                      <%= link_to 'Facebook登入', auth_at_provider_path(:provider => :facebook) %>
                    <% end %>
                </div> <!-- end of login form -->
                <!--<li><%= link_to "登記", :signup, html: { id: "signup" } %></li>
                <li><%= link_to "登入", :login, html: { id: "login" } %></li>-->
              <% end %>
            </ul>
        </div><!-- end of top bar right -->
    </div><!-- end of top bar -->
    <div class="navigation">
        <div class="logo-area">
            <div class="logo">
                <%= link_to(image_tag("logo_150x150.png", alt: "17 Share Hong Kong Logo"), root_path) %>
            </div>
            <div class="name text-shadow">
                <%= link_to "17Share", root_path %>
            </div>

        </div><!-- end of logo area -->
        <div class="mobile-nav menu">
             <div class="menu-btn" id="menu-btn">
                <i class="fa fa-bars fa-2x"></i>
             </div>
             <div class="responsive-menu">
                <ul class="text-shadow">
                   <a href="#"><li>婚紗攝影</li></a>
                   <a href="#"><li>小小Pin</li></a>
                   <a href="#" class="close-btn"><li>返回</li></a>
                </ul>
             </div>
        </div><!-- end of mobile nav menu -->
    </div><!-- end of navigation -->
</header>
