<!DOCTYPE html>
<html>
  <head>
    <title>17Share</title>
      <%= stylesheet_link_tag    "application" %>
      <%= stylesheet_link_tag    "custom" %>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
      <meta name=“viewport” value=“width=device-width, initial-scale=1”>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="content">
      <%= link_to "Upload photos", assets_path %>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
  </div>
  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "functions" %>
  <script src="jquery.slicknav.min.js"></script>
  <script>
    $(function(){
        $('#menu').slicknav();
    });
  </script>

  </body>
</html>
