<!DOCTYPE html>
<html>
  <head>
    <title>17Share</title>
      <%= stylesheet_link_tag    "application" %>
      <%= stylesheet_link_tag    "main" %>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
      <meta name=“viewport” value=“width=device-width, initial-scale=1”>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="content">
      <%= link_to "Upload photos", assets_path %>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
  </div>
  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>


  <script type="text/javascript">
      jQuery(function($){
               $( '.menu-btn' ).click(function(){
               $('.responsive-menu').slideToggle('expand')
               })
          })
  </script>

  <script type="text/javascript">
      (function() {
        $(function() {
          if (window.location.hash && window.location.hash === '#_=_') {
            window.location.hash = '';
            return history.pushState('', document.title, window.location.pathname);
          }
        });
      }).call(this);
  </script>



  </body>
</html>
