<!DOCTYPE html>
<html>
  <head>
    <title>17Share</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag    "application" %>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/main' %>
  <%= yield %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>

  <!-- mobile menu -->
  $(document).ready(function () {
      <script type="text/javascript">
          jQuery(function($){
                   $( '.menu-btn' ).click(function(){
                   $('.responsive-menu').slideToggle('expand')
                   })
              })
      </script>
      <script type="text/javascript">
          jQuery(function($){
                   $( '.signup-btn' ).click(function(){
                   $('.signup-form').slideToggle('expand')
                   })
              })
      </script>
      <script type="text/javascript">
          jQuery(function($){
                   $( '.login-btn' ).click(function(){
                   $('.login-form').slideToggle('expand')
                   })
              })
      </script>
      <script type="text/javascript">
          jQuery(function($){
                   $( '.upload-btn' ).click(function(){
                   $('.upload-form').slideToggle('expand')
                   })
              })
      </script>
      <!-- remove facebook ugly url -->
      <script type="text/javascript">
          (function() {
            $(function() {
              if (window.location.hash && window.location.hash === '#_=_') {
                window.location.hash = '';
                return history.pushState('', document.title, window.location.pathname);
              }
            });
          }).call(this);
      </script>
      <!-- dialog modal
      <script>
          $( "#upload-form" ).dialog({ autoOpen: false });
          $( "#upload" ).click(function() {
            $( "#upload-form" ).dialog( "open" );
          });
      </script>
      <script>
          $( "#signup-form" ).dialog({ autoOpen: false });
          $( "#signup" ).click(function() {
            $( "#signup-form" ).dialog( "open" );
          });
      </script>
      <script>
          $( "#login-form" ).dialog({ autoOpen: false });
          $( "#login" ).click(function() {
            $( "#login-form" ).dialog( "open" );
          });
      </script>
      <script>
          $( "#upload-form" ).dialog({
            "resize", "auto"
          });
          $( "#signup-form" ).dialog({
            "resize", "auto"
          });
          $( "#login-form" ).dialog({
            "resize", "auto"
          });
      </script>
      <script>
          $( "#upload-form" ).dialog({
            modal: true
          });
          $( "#signup-form" ).dialog({
            modal: true
          });
          $( "#login-form" ).dialog({
            modal: true
          });
      </script>-->
  });


  </body>
</html>
